@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_eases.scss';
@import 'styles/_fonts.scss';

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 60px;

	@include for-phone-only {
		margin-top: 30px;
	}
}

.name-container h1 {
	@include avenir;
	color: $blue;
	text-transform: uppercase;
	font-size: 36px;
	transition: color .25 $easeInOut;
}

.title-container h2 {
	@include avenir-light;
	text-transform: uppercase;
	font-size: 20px;
	transition: color .25 $easeInOut;
}

// a:hover {
// 	.name-container h1 {
// 		color: $black;
// 	}

// 	.title-container h2 {
// 		color: $blue;
// 	}
// }