@import 'styles/_breakpoints.scss';
@import 'styles/_colors.scss';
@import 'styles/_eases.scss';

.container {
	min-height: 100vh;
}

.inner {
	max-width: 1100px;
	margin: 0 auto;

	&.padding {
		padding: 30px 20px;

		@include for-tablet-portrait-up {
			padding: 60px 30px;
		}
	}
}

.columns {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-content: flex-start;

	@include for-tablet-portrait-up {
		flex-direction: row;
	}

	.left-column {
		margin-right: 40px;

		@include for-phone-only {
			width: 100% !important;
			text-align: center;
			margin-bottom: 30px;
			padding-bottom: 20px;
			border-bottom: 1px solid $lightergrey;
		}
	}

	.right-column {
		@include for-phone-only {
			width: 100% !important;
		}
	}
}