@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,700);
.styles-clearfix-2Rb3A:before,
.styles-clearfix-2Rb3A:after {
  content: "";
  display: table; }

.styles-clearfix-2Rb3A:after {
  clear: both; }

.styles-clearfix-2Rb3A {
  zoom: 1; }

* {
  font-family: 'Avenir', sans-serif;
  box-sizing: border-box;
  margin: 0; }

html,
body {
  font-size: 10px; }

p {
  font-family: 'Avenir', sans-serif; }
  p small {
    font-size: .8em; }

a {
  transition: color 0.25s cubic-bezier(0.42, 0, 0.58, 1);
  backface-visibility: hidden;
  text-decoration: none;
  color: #333333;
  font-family: inherit; }
  a:hover {
    cursor: pointer; }
  a:focus {
    outline: none; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  ul li {
    font-size: 1.6rem; }

/*Oswald Webfont*/
@font-face {
  font-family: 'Oswald', sans-serif; }

/*Oswald Webfont*/
@font-face {
  font-family: 'Oswald', sans-serif; }

.Header-container-3ZpuA {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px; }

.Header-name-container-1ws6W h1 {
  font-family: 'Avenir', helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #02AEEF;
  text-transform: uppercase;
  font-size: 36px;
  transition: color 0.25 cubic-bezier(0.42, 0, 0.58, 1); }

.Header-title-container-2CAq5 h2 {
  font-family: 'Avenir', helvetica, arial, sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  font-size: 20px;
  transition: color 0.25 cubic-bezier(0.42, 0, 0.58, 1); }

.Layout-container-1Z389 {
  min-height: 100vh; }

.Layout-inner-d3Io5 {
  max-width: 1100px;
  margin: 0 auto; }
  .Layout-inner-d3Io5.Layout-padding-1J6cR {
    padding: 30px 20px; }
    @media (min-width: 600px) {
      .Layout-inner-d3Io5.Layout-padding-1J6cR {
        padding: 60px 30px; } }

.Layout-columns-1wlBH {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-content: flex-start; }
  .Layout-columns-1wlBH .Layout-left-column-3Pz6S {
    margin-right: 40px; }

.Button-container-2sgpr {
  display: inline-block;
  position: relative;
  background: #333333;
  border-radius: 5px; }
  .Button-container-2sgpr .Button-button-3FFWB {
    display: block;
    padding: 8px 10px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    width: 100%;
    transition: background 0.25s cubic-bezier(0.42, 0, 0.58, 1); }
    @media (min-width: 600px) {
      .Button-container-2sgpr .Button-button-3FFWB {
        font-size: 24px; } }
    .Button-container-2sgpr .Button-button-3FFWB::after {
      content: '';
      width: 100%;
      height: 20px;
      background: black; }
    .Button-container-2sgpr .Button-button-3FFWB.Button-white-3oEPL {
      background: #fff;
      color: #000000;
      filter: drop-shadow(3px 3px 1px #000000); }
      .Button-container-2sgpr .Button-button-3FFWB.Button-white-3oEPL:hover {
        background: #A5DEE4;
        color: #fff; }

.Social-container-4IWH0 {
  white-space: nowrap;
  display: flex; }

.Social-icon-1pXdC {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  padding: 0;
  border: none;
  appearance: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  box-sizing: border-box; }
  .Social-icon-1pXdC:not(:last-child) {
    margin-right: 15px; }
  .Social-icon-1pXdC.Social-borderless-1MeNw {
    border: none;
    margin-right: 0; }

.Social-always-white-9pNqE,
.Social-white-to-original-B71Mr,
.Social-white-to-purple-1Id-I {
  border-color: #fff; }
  .Social-always-white-9pNqE svg path,
  .Social-white-to-original-B71Mr svg path,
  .Social-white-to-purple-1Id-I svg path {
    fill: #fff; }

.Social-white-to-original-B71Mr:hover.Social-twitter-3cfRN svg path {
  fill: #1da1f2; }

.Social-white-to-original-B71Mr:hover.Social-facebook-3RAg0 svg path {
  fill: #3B5998; }

.Social-white-to-original-B71Mr:hover.Social-youtube-j11lj svg path {
  fill: #ff0000; }

.Social-white-to-original-B71Mr:hover.Social-rss-1h51H svg path {
  fill: #f26522; }

.Social-white-to-original-B71Mr:hover.Social-linkedin-3d2PG svg path {
  fill: #0077b5; }

.Social-white-to-original-B71Mr:hover.Social-instagram-3ULO7 svg path {
  fill: #c13584; }

.Social-white-to-original-B71Mr:hover.Social-email-3XH9B svg path,
.Social-white-to-original-B71Mr:hover.Social-link-2G6Ya svg path {
  fill: #333333; }

.Social-twitter-3cfRN svg {
  height: 25px; }

.Social-facebook-3RAg0 svg {
  height: 25px; }

.Social-youtube-j11lj svg {
  height: 10px; }

.Social-rss-1h51H svg {
  height: 12px; }

.Social-instagram-3ULO7 svg {
  height: 25px; }

.Social-linkedin-3d2PG svg {
  height: 12px; }

.Social-email-3XH9B svg {
  height: 25px; }

.Social-link-2G6Ya svg {
  height: 25px; }

/*Oswald Webfont*/
@font-face {
  font-family: 'Oswald', sans-serif; }

.SpringImage-container-174EQ {
  position: relative; }

.SpringImage-image-2_-6u {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform; }

.SpringImage-image-2_-6u:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4); }

.SpringImage-title-19lB0 {
  position: absolute;
  top: 10px;
  right: -20px;
  padding: 2px 8px;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  font-family: 'Futura', helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 24px;
  text-align: center;
  z-index: 1; }

/*Oswald Webfont*/
@font-face {
  font-family: 'Oswald', sans-serif; }

.Poster-container-3mR6w {
  width: 100%;
  margin-bottom: 40px; }

.Poster-poster-spring-3yO66 {
  width: 100%;
  height: 450px;
  background-size: cover; }

.Poster-item-title-2sTDD {
  position: absolute;
  top: 10px;
  right: -20px;
  padding: 2px 8px;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  font-family: 'Futura', helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 24px;
  text-align: center;
  z-index: 1; }

.Portfolio-container-1jW3K {
  width: 100%;
  max-width: 1120px; }

.Portfolio-items-wrapper-2kv5f {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 75px;
  grid-auto-rows: minmax(100px, auto); }

@keyframes Index-gradient-251s9 {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.Index-container-1kqg1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding: 60px 20px; }
  .Index-container-1kqg1.Index-main-1O58W {
    background-color: #fff;
    background-size: 400%;
    animation: Index-gradient-251s9 20s ease infinite; }
  .Index-container-1kqg1.Index-info-3dRFz {
    background: url("/static/city-background.png") top center/100% no-repeat;
    background-color: #080605;
    flex-direction: column;
    padding-top: 150px; }
    @media (min-width: 600px) {
      .Index-container-1kqg1.Index-info-3dRFz {
        padding-top: 24%; } }

.Index-content-T_TIg {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 0 20px; }

.Index-logo-nGWz0 {
  width: 300px;
  height: 175px;
  margin-bottom: 40px; }
  @media (min-width: 600px) {
    .Index-logo-nGWz0 {
      width: 500px;
      height: 295px; } }

.Index-buy-button-2py0_ {
  margin-bottom: 25px;
  z-index: 9999; }

.Index-social-buttons-3sJYS {
  margin-top: 20px; }

.Index-info-3dRFz {
  color: #fff; }
  .Index-info-3dRFz .Index-content-T_TIg {
    margin-bottom: 30px;
    text-align: center; }
  .Index-info-3dRFz .Index-subcontent-SfUwl:not(:last-child) {
    margin-bottom: 20px; }
  .Index-info-3dRFz .Index-subcontent-SfUwl p {
    font-size: 18px;
    line-height: 20px; }
    @media (min-width: 600px) {
      .Index-info-3dRFz .Index-subcontent-SfUwl p {
        font-size: 24px;
        line-height: 30px; } }
  .Index-info-3dRFz .Index-line-1peNx {
    width: 300px;
    height: 2px;
    background: #A5DEE4;
    margin-bottom: 30px; }
  .Index-info-3dRFz h2 {
    font-size: 36px;
    margin-bottom: 12px; }
    @media (min-width: 600px) {
      .Index-info-3dRFz h2 {
        font-size: 48px; } }
  .Index-info-3dRFz h3 {
    display: inline-block;
    font-size: 28px;
    margin-bottom: 12px;
    border-bottom: 2px solid #A5DEE4; }
    @media (min-width: 600px) {
      .Index-info-3dRFz h3 {
        font-size: 36px; } }
  .Index-info-3dRFz li {
    text-align: center;
    margin-bottom: 10px; }
    .Index-info-3dRFz li .Index-label-2V9Gi {
      font-weight: bold;
      margin-bottom: 8px; }
  .Index-info-3dRFz .Index-description-3gzw7 {
    font-size: 16px;
    color: #aaa;
    margin-bottom: 12px; }
    @media (min-width: 600px) {
      .Index-info-3dRFz .Index-description-3gzw7 {
        font-size: 18px; } }
  .Index-info-3dRFz .Index-info-line-4FCL_ {
    font-size: 18px; }
    @media (min-width: 600px) {
      .Index-info-3dRFz .Index-info-line-4FCL_ {
        font-size: 28px; } }
  .Index-info-3dRFz .Index-label-2V9Gi {
    padding-right: 8px; }
  .Index-info-3dRFz iframe {
    margin-top: 30px;
    width: 100%; }
    @media (min-width: 600px) {
      .Index-info-3dRFz iframe {
        width: 500px; } }

.LightBox-container-3NzL1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75); }

.LightBox-inner-cHFtm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh; }

.Project-title-container-1GZPp {
  position: relative;
  margin-bottom: 10px;
  display: inline-block; }
  .Project-title-container-1GZPp .Project-title-H985l {
    font-size: 28px; }
  .Project-title-container-1GZPp .Project-background-bDTg_ {
    position: absolute;
    top: 2px;
    right: 0;
    width: 100%;
    height: 30px;
    background: rgba(3, 174, 239, 0.3);
    transform: skew(20deg); }

.Project-attribution-3s5Iw {
  font-size: 12px;
  color: #666;
  margin-bottom: 20px; }

.Project-description-1Rl-x {
  font-size: 16px;
  line-height: 24px; }

.Project-image-list-2YXMp {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center; }
  .Project-image-list-2YXMp img {
    width: 300px;
    margin-bottom: 30px;
    box-shadow: 10px 10px 20px #333333; }

.Project-lightbox-image-Rl77h {
  width: 35%; }


/*# sourceMappingURL=styles.chunk.css.map*/